name: deploy

on:
  push:
    branches:
      - main
    paths:
      - "lambda/**"

permissions:
  id-token: write
  contents: read

env:
  OIDC_IAM_ROLE_ARN: ${{ vars.OIDC_IAM_ROLE_ARN }}
  AWS_REGION: ap-northeast-1

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.OIDC_IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Deploy
        working-directory: ./lambda
        run: make deploy
